body {
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613553546_22-p-fon-dlya-prezentatsii-voennie-professii-25.jpg); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  }
/*https://phonoteka.org/uploads/posts/2021-05/1620176966_36-phonoteka_org-p-foni-dlya-slaidera-saita-40.jpg*/
  /*https://w-dog.ru/wallpapers/15/16/348528005087231/tekstury-tekstura-fon-seryj-goluboj.jpg*/
/*https://catherineasquithgallery.com/uploads/posts/2021-03/1614629359_2-p-snezhinki-fon-dlya-fotoshopa-2.jpg*/

  /*https://s1.1zoom.me/b5050/117/423843-Kycb_3840x2400.jpg
  */ 
.container {
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;

		

			}
.pro {
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;
	}
https://phonoteka.org/uploads/posts/2021-05/1620176966_36-phonoteka_org-p-foni-dlya-slaidera-saita-40.jpg

